body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
}

.div-header{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

h1 {
    margin: 0;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.headshot {
    max-height: 30vh;
}

div.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    max-height: 800px;
    height: 50vh;
}

div.scroll-container img {
    padding: 10px;
    height: 100%;
}

div.exp-section {
    padding: 0px 10px 10px 10px;

}

div.section-subheader {
    font-size: 1.25rem;
    font-weight: 500;
}

div.exp-date {
    font-style: italic;
    text-align: right;
}

.crypted:after {
    content: attr(data-name) "@" attr(data-domain) "." attr(data-tld);
    color: white;
    text-decoration: underline;
    text-decoration-color: rgb(255, 255, 255);

}

* {
    box-sizing: border-box
}

.mySlides {
    display: none;
    justify-content: center;
    height: 100%;
    padding: 10px;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    width: 100%;
    max-width: 1000px;
    position: relative;
    background-color: #333;
    white-space: nowrap;
    max-height: 800px;
    height: 50vh;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.gallery-text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

img.gallery-img {
    object-fit: contain;
    max-width: 100%;
    height: 100%;
    margin: 0;
}

iframe.gallery-img {
    max-width: 80%;
    height: 100%;
}
#landscape.gallery-img {
        aspect-ratio: 16 / 9;

}

.gallery-img-container{
    margin-bottom: 30px;
    text-align: center;
    width:100%
}

.bullet{
    list-style-type: circle;
    list-style-position: inside;

}

.div-container {
    padding-left: 10px;
}
/*
.bullet-container {
    padding-left: 25px;
}
*/

.int-topic {
    padding-bottom: 10px;
}

.int-section {
    padding-bottom: 10px
}

.int-description{
    padding-left: 10px;
}

.container {
    display: flex;
    align-items: center;
    column-gap: 2rem;
    height: 90px;
    padding: 1.2rem 3rem 0rem 3rem;
    justify-content: space-between;
  }
  .nav-bar-container {
    display: flex;
    align-items: center;
    height: 90px;
    padding: 1.2rem 3rem 0rem 3rem;
  }
  
  .menu {
    position: relative;
    background: var(--white);
  }
  
  .menu-bar li:first-child .dropdown {
    flex-direction: initial;
  }
  
  .menu-bar li:first-child ul:nth-child(1) {
    border-right: var(--border);
  }
  
  .menu-bar li:nth-child(n + 2) ul:nth-child(1) {
    border-bottom: var(--border);
  }
  
  .menu-bar .dropdown-link-title {
    font-weight: 600;
  }
  
  .menu-bar .nav-link {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: -0.6px;
    padding: 0.3rem;
    min-width: 60px;
    margin: 0 0.6rem;
    background-color: #333;
    color:white;
    border-radius: 4px;
    border-color: white;
    text-decoration: none;

  }
  
  .menu-bar .nav-link:hover,
  .dropdown-link:hover {
    color: var(--primary-color);
  }
  
  .nav-start,
  .nav-end,
  .menu-bar,
  .right-container,
  .right-container .search {
    display: flex;
    align-items: center;
  }
  
  .dropdown {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 10px;
    position: absolute;
    top: 36px;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.97) translateX(-5px);
    transition: 0.23s ease-in-out;
    box-shadow: var(--shadow);
  }
  
  .dropdown.active {
    visibility: visible;
    opacity: 1;
    transition: 0.23s ease-in-out;
    transform: scale(1) translateX(10px) translateY(10px);
    
  }
  
  .dropdown ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.2rem;
    font-size: 0.95rem;
  }
  
  .dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.15rem;
  }
  
  .dropdown-link {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem 0;
    border-radius: 7px;
    transition: 0.1s ease-in-out;
    justify-content: center;
    color: black;
    text-decoration: none;
  }
  
  .dropdown-link p {
    font-size: 0.8rem;
    color: var(--medium-grey);
  }
  
  .right-container {
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }
  
  .right-container .search {
    position: relative;
  }
  
  .right-container img {
    border-radius: 50%;
  }
  
  .search input {
    background-color: var(--ash);
    border: none;
    border-radius: 6px;
    padding: 0.7rem;
    padding-left: 2.4rem;
    font-size: 16px;
    width: 100%;
    border: var(--border);
  }
  
  .search .bx-search {
    position: absolute;
    left: 10px;
    top: 50%;
    font-size: 1.3rem;
    transform: translateY(-50%);
    opacity: 0.6;
  }
  
  #hamburger {
    display: none;
    padding: 0.1rem;
    margin-left: 1rem;
    font-size: 1.9rem;
  }
  
  @media (max-width: 1100px) {
    .nav-bar-container {
      justify-content: space-between;
    }

    #hamburger {
      display: block;
    }
  
    .container {
      padding: 1.2rem;
    }
  
    .menu {
      display: none;
      position: absolute;
      top: 87px;
      left: 0;
      min-height: 100vh;
      width: 100vw;
    }
  
    .menu-bar li:first-child ul:nth-child(1) {
      border-right: none;
      border-bottom: var(--border);
    }
  
    .dropdown {
      display: none;
      min-width: 100%;
      border: none !important;
      border-radius: 5px;
      position: static;
      top: 0;
      left: 0;
      visibility: visible;
      opacity: 1;
      transform: none;
      box-shadow: none;
    }
  
    .menu.show,
    .dropdown.active {
      display: block;
    }
  
    .dropdown ul {
      padding-left: 0.3rem;
    }
  
    .menu-bar {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      row-gap: 1rem;
      padding: 0rem 1rem 0rem 1rem;
      margin: 0px;
      background-color: #333;
    }
  
    .menu-bar .nav-link {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-weight: 600;
      font-size: 1.2rem;
      margin: 0;
      text-decoration: none;
    }
  
    .menu-bar li:first-child .dropdown {
      min-width: 100%;
    }
  
    .menu-bar > li:not(:last-child) {
      padding-bottom: 0.5rem;
      border-bottom: var(--border);
    }
  }
  
  @media (max-width: 600px) {
    .right-container {
      display: none;
    }
  }

  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
  }
  
  .btn {
    display: block;
    background-color: var(--primary-color);
    color: var(--white);
    text-align: center;
    padding: 0.6rem 1.4rem;
    font-size: 3.5rem;
    font-weight: 500;
    border-radius: 5px;
  }
  
  .icon {
    padding: 0.5rem;
    background-color: var(--light-grey);
    border-radius: 10px;
  }
  
  .logo {
    margin-right: 1.5rem;
  }
  
  #nav-menu {
    border-bottom: var(--border);
  }

  li[role = menuitem]{
    background-color: white;
    border-radius: 4px;
    padding: 5px;
  }

  .dropdown{
    background-color: #333;
  }

  #menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: white;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-14px, -14px);
  background: white;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(-5px, 7px);
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: 2rem;
  right: 4rem;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

#home-btn {
  color:white;
}

.exp-section {
  position: relative;
}

.exp-section:not(.last-item)::after {
  content: "";
  display: block;
  height: 1px;
  background: #ccc;
  margin: 0.5em 0 0 0;
}

#Conference\ Publications ul li:not(:last-child) {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.75rem;
  margin-bottom: 0.75rem;
}

#Oral\ Presentations ul li:not(:last-child) {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.75rem;
  margin-bottom: 0.75rem;
}

#Poster\ Presentations ul li:not(:last-child) {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.75rem;
  margin-bottom: 0.75rem;
}